<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" style="border-radius: 0;">
  <a class="navbar-brand"  [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Leto</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Signin</a>
    </li>
  </ul>
</nav>